{{#section 'title'}}Giỏ hàng{{/section}} {{#section 'headTitle'}}Giỏ hàng{{/section}}


<!-- Product table -->
<div class="container">
    <form id="formSubmition" action="" method="post">
        <input id="prodId" name="flag" type="hidden" value="">
    </form>
    <div class="row" style="margin-bottom: 20px">
        <div class="col-lg-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr align="center">
                                <th scope="col">Số thứ tự</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Tình trạng</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody align="center" id="tbody">
                            <form id="postCart" action="" method="post"></form>
                            {{#each myCart}}
                            <tr>
                                <th scope="row" class="id">{{ProdID}}</th>
                                <td>{{ProdName}}</td>
                                <td>Còn hàng</td>
                                <td class="price">{{ProdPrice}}</td>
                                <td align="center">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary calMinus"> - </button>
                                        </span>
                                        <input type="text" value="{{ProdQuantity}}" style="text-align: center" class="prodQuan" id="prodQuan">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary calPlus"> + </button>
                                        </span>
                                    </div>
                                </td>
                                <td class="subTotal">{{ProdSubTotal}}</td>
                            </tr>
                            {{/each}}
                            <tr class="totalPaying">
                                <th scope="row">Tổng cộng</th>
                                <td colspan="4"></td>
                                <td class="totalPrice">{{prodTotalPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Confirm button -->
                    <div class="col-md-4 offset-md-8" align="right">
                        <button class="btn btn-primary btnConfirm">Xác nhận</button>
                        <button class="btn btn-primary btnCancle">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script id="entry-template" type="text/x-handlebars-template">

<tr>
    <th scope="row" class="id">{{id}}</th>
    <td>{{ProdName}}</td>
    <td>Còn hàng</td>
    <td class="price">{{ProdPrice}}</td>
    <td align="center">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-secondary calMinus"> - </button>
            </span>
            <input type="text" value="{{ProdQuantity}}" style="text-align: center" class="prodQuan" id="prodQuan">
            <span class="input-group-btn">
                <button class="btn btn-secondary calPlus"> + </button>
            </span>
        </div>
    </td>
    <td class="subTotal">{{ProdSubTotal}}</td>
</tr>

</script>

<script>
    $(document).ready(() => {
        const myStorage = window.localStorage
        const temp_cart = myStorage.getItem('temp_cart');
        $.ajax({
            type: 'POST',
            url: '/cart-paying',
            data: temp_cart,
            dataType: 'json',
            contentType: 'application/json'
        }).then((cart) => {
            let html = ""
            cart.forEach(({ ProdID, ProdName, ProdPrice, ProdQuantity }) => {
                let ProdSubTotal = ProdPrice * ProdQuantity
                html += `<tr>
                            <th scope="row" class="id">${ProdID}</th>
                            <td>${ProdName}</td>
                            <td>Còn hàng</td>
                            <td class="price">${ProdPrice}</td>
                            <td align="center">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary calMinus"> - </button>
                                    </span>
                                    <input type="text" value="${ProdQuantity}" style="text-align: center" class="prodQuan" id="prodQuan">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary calPlus"> + </button>
                                    </span>
                                </div>
                            </td>
                            <td class="subTotal">${ProdSubTotal}</td>
                        </tr>`
            })
            $("#tbody").append(html);

            $(".calMinus").click(function () {
                //get parents
                var parent = $(this).parents('tr');
                //plus or minus
                var IncOrDec = -1;
                modifyQuanTityAndPrice(parent, IncOrDec);
            });

            $(".calPlus").click(function () {
                //get parents
                var parent = $(this).parents('tr');
                //plus or minus
                var IncOrDec = 1;
                modifyQuanTityAndPrice(parent, IncOrDec);
            });
        })
    })

    // flag = 0 means cancle || flag = 1 means confirm
    $(".btnConfirm").click(function () {
        $("#prodId").val(1);
        $("#formSubmition").submit();
    })
    $(".btnCancle").click(function () {
        $("#prodId").val(0);
        $("#formSubmition").submit();
    })


    function modifyQuanTityAndPrice(parent, IncOrDec) {
        var curQuan = parseInt(parent.find(".prodQuan").val());
        var curSubTotal = parseInt(parent.find(".subTotal").text());
        var curPrice = parseInt(parent.find(".price").text());

        var newQuan, newSubTotal;
        if (IncOrDec == -1) {
            if (curQuan <= 0)
                newQuan = 0;
            else
                newQuan = curQuan - 1;
        }
        else if (IncOrDec == 1) {
            newQuan = curQuan + 1;
        }

        newSubTotal = newQuan * curPrice;
        var balance = Math.abs(curSubTotal - newSubTotal);

        parent.find(".subTotal").text(newSubTotal);
        parent.find(".prodQuan").val(newQuan);
        //get upper level parent
        var upperParent = parent.parents('tbody');
        totalPriceToPay(upperParent, balance, IncOrDec);
    }

    function totalPriceToPay(upperParent, newSubTotal, IncOrDec) {
        var curTotalPrice = parseInt(upperParent.find('.totalPrice').text());

        console.log(newSubTotal);
        if (IncOrDec == -1)
            var newTotalPrice = curTotalPrice - newSubTotal;
        else if (IncOrDec == 1)
            var newTotalPrice = curTotalPrice + newSubTotal;

        upperParent.find('.totalPrice').text(newTotalPrice);
    }

</script> {{/section}}